.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body .cv-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

body li {
  list-style: none;
  border: 1px grey solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 10px;
}

body li .text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 90%;
}

body li .text-section .title {
  font-weight: bolder;
}

body li button {
  border-radius: 50px;
  height: 25px;
}

button.add-item{
  font-size: large;
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius:  200px;
  color: black;
  background-color: lightgray;
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: 20%;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: start;
}

.modal-inner h2 {
  margin: unset;
}

.modal-inner div {
  margin-bottom: 8px;
}

.modal-inner form {
  width: 100%;;
}

.modal-inner form input, .modal-inner form textarea {
  border-radius: 5px;
  width: 100%;
}

.modal-inner form textarea {
  height: 150px;
}

.modal-inner .buttons {
  width: 100%  ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-inner .buttons button {
  border-radius: 5px;
  font-weight: bold;
}